<ul class="nav">
  <li>
    <%= link_to "Postit!", posts_path, :class => 'brand' %>
  </li>
  <% if logged_in? %>
    <li>
      <%= link_to 'New Post', new_post_path, class: "btn btn-success btn-small new-post" %>
    </li>
  <% end %>
  <li>
    <div class='btn-group nav_item'>
      <%= link_to("", class: "btn btn-small dropdown-toggle", "data-toggle" => "dropdown") do %>
        Categories
        <span class='caret'></span>
      <% end %>
        <ul class='dropdown-menu'>
          <% Category.all.each do |category| %>
            <li><%= link_to category.name, category %></li>
          <% end %>
          <% if logged_in? %>
            <li><%= link_to "New Category", new_category_path, class: "new-category-btn" %>
          <% end %>
        </ul>
    </div>
  </li>

  <% if logged_in? %>
    <div class='btn-group nav_item'>
      <%= link_to("", class: "btn btn-small dropdown-toggle", "data-toggle" => "dropdown") do %>
        <%= current_user.username %>
        <span class='caret'></span>
      <% end %>
      <ul class='dropdown-menu'>
      <li>
        <%= link_to edit_user_path(current_user) do %>
          <i class='icon-pencil'></i>
          edit profile
        <% end %>
      </li>
      <li>
        <%= link_to user_path(current_user) do %>
          <i class='icon-user'></i>
          view profile
        <% end %>
      </li>
      <li>
        <%= link_to logout_path do %>
          <i class='icon-circle-arrow-left'></i>
          logout
        <% end %>
      </li>
    </ul>
  </div>
  <% else %>
    <li>
      <%= link_to "Register", register_path %>
    </li>
    <li>
      <%= link_to "Log in", login_path %>
    </li>
  <% end %>
</ul>


